.chat {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    transition: 0.3s;
    cursor: pointer
}

.lastMessage {
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-info {
    width: 60%;
}

.chat:hover {
    background-color: #121b25;
}